In [5]:
import xml.etree.ElementTree as ET
import pandas as pd

# Parse the XML file
tree = ET.parse('#########file path##########')
root = tree.getroot()

# Create an empty list to store the data
data = []

# Extract the required information from the XML file
filename = root.find('filename').text

for obj in root.findall('object'):
    name = obj.find('name').text
    xmin = float(obj.find('bndbox/xmin').text)
    ymin = float(obj.find('bndbox/ymin').text)
    xmax = float(obj.find('bndbox/xmax').text)
    ymax = float(obj.find('bndbox/ymax').text)
    
    # Extract attributes
    attributes = obj.find('attributes')
    if attributes is not None:
        for attr in attributes.findall('attribute'):
            attr_name = attr.find('name').text
            attr_value = attr.find('value').text
            data.append([filename, name, xmin, ymin, xmax, ymax, attr_name, attr_value])
    else:
        data.append([filename, name, xmin, ymin, xmax, ymax, '', ''])

# Create a Pandas dataframe
df = pd.DataFrame(data, columns=['filename', 'object', 'xmin', 'ymin', 'xmax', 'ymax', 'attribute', 'value'])

In [6]:
df

    filename   object    xmin    ymin    xmax    ymax attribute value
0  test1.jpg  Hydrant  341.67  275.66  396.59  358.04  rotation   0.0
1  test1.jpg  Hydrant  341.67  275.66  396.59  358.04  track_id     0
2  test1.jpg  Hydrant  341.67  275.66  396.59  358.04  keyframe  True

In [7]:
import os
import xml.etree.ElementTree as ET
import pandas as pd

# Create an empty list to store the data
data = []

# Loop through all the XML files in the folder
folder = 'folder path'  # Replace with the name of your folder
for filename in os.listdir(folder):
    if filename.endswith('.xml') and filename.startswith('test'):
        # Parse the XML file
        tree = ET.parse(os.path.join(folder, filename))
        root = tree.getroot()

        # Extract the required information from the XML file
        image_filename = filename[:-4] + '.jpg'

        for obj in root.findall('object'):
            name = obj.find('name').text
            xmin = float(obj.find('bndbox/xmin').text)
            ymin = float(obj.find('bndbox/ymin').text)
            xmax = float(obj.find('bndbox/xmax').text)
            ymax = float(obj.find('bndbox/ymax').text)

            # Extract attributes
            attributes = obj.find('attributes')
            if attributes is not None:
                for attr in attributes.findall('attribute'):
                    attr_name = attr.find('name').text
                    attr_value = attr.find('value').text
                    data.append([image_filename, name, xmin, ymin, xmax, ymax, attr_name, attr_value])
            else:
                data.append([image_filename, name, xmin, ymin, xmax, ymax, '', ''])

# Create a Pandas dataframe
df = pd.DataFrame(data, columns=['filename', 'object', 'xmin', 'ymin', 'xmax', 'ymax', 'attribute', 'value'])

In [8]:
df

       filename   object    xmin    ymin    xmax    ymax attribute  value
0    test29.jpg  Hydrant  315.21  316.32  358.79  401.24  rotation    0.0
1    test29.jpg  Hydrant  315.21  316.32  358.79  401.24  track_id      0
2    test29.jpg  Hydrant  315.21  316.32  358.79  401.24  keyframe  False
3    test15.jpg  Hydrant  229.38  235.53  270.23  302.83  rotation    0.0
4    test15.jpg  Hydrant  229.38  235.53  270.23  302.83  track_id      0
..          ...      ...     ...     ...     ...     ...       ...    ...
130  test30.jpg  Hydrant  320.95  313.15  361.85  391.85  track_id      0
131  test30.jpg  Hydrant  320.95  313.15  361.85  391.85  keyframe  False
132  test24.jpg  Hydrant  300.84  324.23  351.16  424.71  rotation    0.0
133  test24.jpg  Hydrant  300.84  324.23  351.16  424.71  track_id      0
134  test24.jpg  Hydrant  300.84  324.23  351.16  424.71  keyframe  False

[135 rows x 8 columns]

In [9]:
key_frame = df[df['attribute'] == 'keyframe']

In [10]:
key_frame.to_csv('path/abc.csv')